@model ProjectPosClient.Models.Invoice

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayMethod" class="control-label"></label>
                <input asp-for="PayMethod" class="form-control" />
                <span asp-validation-for="PayMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model.InvoiceDetails)*@
                    @for(int i=0; i<Model.InvoiceDetails.Count;i++)
                    {
                        <tr>
                            <td>
                                @Html.EditorFor(x=>x.InvoiceDetails[i].ProductName,new {htmlAttributes=new {@class="form-control"}})
                                
                            </td>
                            <td>
                                @Html.EditorFor(x=>x.InvoiceDetails[i].Price,new {htmlAttributes=new {@class="form-control"}})
                            </td>
                            <td>
                                @Html.EditorFor(x=>x.InvoiceDetails[i].Quantity,new {htmlAttributes=new {@class="form-control"}})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
